body {
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 200%;
  text-align: center;
  padding: 0px;
  padding-top: 5px;
  margin: 0;
}
h2 {
  font-size: 80%;
  color: gray;
  border-bottom: 3px solid Darkgrey;
  text-align:center;
  padding-bottom: 12px;
  font-family: sans-serif;
}
#first {
  color: red;
  font-size: 20px;
}
#file1 {
  color: white;
  font-size: 100%;
}
